<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>When you send your location to your friends, We needs access to show them a map.</string>
    <key>DTPlatformVersion</key>
    <string>17.2</string>
    <key>DTSDKBuild</key>
    <string>21C52</string>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-DMC60x60</string>
          <string>AppIcon-DMC76x76</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-DMC</string>
      </dict>
    </dict>
    <key>GROUPID</key>
    <string>group.io.technovage.dmcc.chat</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSCameraUsageDescription</key>
    <string>We need this so that you can take and share photos and videos.</string>
    <key>CFBundleDisplayName</key>
    <string>DMC Chat</string>
    <key>DTXcodeBuild</key>
    <string>15C500b</string>
    <key>CFBundleIdentifier</key>
    <string>io.technovage.dmcc.chat</string>
    <key>INSTALL_URL</key>
    <string></string>
    <key>NSUserActivityTypes</key>
    <array>
      <string>INSendMessageIntent</string>
      <string>INStartVideoCallIntent</string>
      <string>INStartAudioCallIntent</string>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>BuildDate</key>
    <string>2024.02.15 09:20:39 AM</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>googlechromes</string>
      <string>comgooglemaps</string>
    </array>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-DMC60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon-DMC</string>
      </dict>
    </dict>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>SERVICE_NAME</key>
    <string>upload.dmcc.dmc.com.kh</string>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>MinimumOSVersion</key>
    <string>12.0</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need this so that you can share photos and videos from your photo library.</string>
    <key>CFBundleName</key>
    <string>DMCC</string>
    <key>CFBundleShortVersionString</key>
    <string>3.5.2</string>
    <key>UIAppFonts</key>
    <array>
      <string>Hanuman.ttf</string>
      <string>Hanuman-Bold.ttf</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>DMCC</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>location</string>
      <string>remote-notification</string>
      <string>voip</string>
    </array>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CHECK_UPDATE_URL</key>
    <string>https://ios.dmcc.dev/check_for_update.php?with_result=false</string>
    <key>BuildMachineOSBuild</key>
    <string>23D60</string>
    <key>CONFERENCE_SERVICE</key>
    <string>@conference.dmcc.dmc.com.kh</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>NSCalendarsUsageDescription</key>
    <string>See your scheduled meetings in the app.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>We need this so that you can record and share voice messages and videos with sound.</string>
    <key>HOST</key>
    <string>dmcc.dmc.com.kh</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>When you send your location to your friends, We needs access to show them a map.</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>NSFaceIDUsageDescription</key>
    <string>You can use Face ID to unlock the app.</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>io.technovage.dmcc.chat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dmcc</string>
          <string>dmccdev</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>io.technovage.dmcc.chat.compatibility</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>dmcc</string>
          <string>dmccdev</string>
          <string></string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLName</key>
        <string>io.technovage.dmcc.chat.ton</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ton</string>
        </array>
      </dict>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>When you send your location to your friends, We needs access to show them a map.</string>
    <key>DTSDKName</key>
    <string>iphoneos17.2</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>DTPlatformBuild</key>
    <string>21C52</string>
    <key>NSContactsUsageDescription</key>
    <string>We sync your contacts in the cloud to let you connect with your friends across all your devices.</string>
    <key>DTXcode</key>
    <string>1520</string>
    <key>APPNAME</key>
    <string>2</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need this so that you can share photos and videos from your photo library.</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>DTAppStoreToolsBuild</key>
    <string>15C500b</string>
  </dict>
</plist>
